<modal-outlet></modal-outlet>

<h1>Private QRCode</h1>
<form
  id="generaQRCodeForm"
  [formGroup]="form"
  (submit)="onSubmit()"
  novalidate
  autocomplete="off"
>
  <div class="buttons">
    <label class="btn-radio" for="configDefault" #radioConfigDefault>
      <input name="config" id="configDefault" type="radio" value="default" checked />
      <button (click)="radioConfigDefault.click()" class="btn" type="button">
        Default
      </button>
    </label>

    <label class="btn-radio" for="configNostrCredential" #radioConfigNostrCredential>
      <input name="config" id="configNostrCredential" type="radio" value="nostrCredential" />
      <button (click)="radioConfigNostrCredential.click()" class="btn" type="button">
        Nostr
      </button>
    </label>

    <label (click)="customizeConfigs()" class="btn-radio" for="configCustomized" #radioConfigCustomized>
      <input name="config" id="configCustomized" type="radio" value="customized" />
      <button (click)="radioConfigCustomized.click()" class="btn" type="button">
        Customized
      </button>
    </label>
  </div>

  <input
    name="title"
    type="text"
    formControlName="title"
    placeholder="insert a title (optional)"
    autocomplete="off"
  />

  <textarea
    name="content"
    formControlName="content"
    placeholder="content to encrypt"
  ></textarea>
  <span
    *ngIf="getErrorFromField('content')"
    class="error-msg"
  >*This field is required!</span>

  <input
    formControlName="key"
    name="key"
    placeholder="insert a key"
    type="password"
    #key
    [class.has-value]="!!key.value"
    class="field-key"
    autocomplete="off"
  />
  <span
    *ngIf="getErrorFromField('key')"
    class="error-msg"
  >*This field is required!</span>

  <input
    #confirmKey
    name="confirmKey"
    placeholder="Confirm the key"
    formControlName="confirmKey"
    type="password"
    [class.has-value]="!!confirmKey.value"
    class="field-key"
    autocomplete="off"
  />
  <span
    class="error-msg"
    *ngIf="getErrorFromField('confirmKey')"
  >*This field is required!</span>
  <span
    class="error-msg"
    *ngIf="getErrorFromForm('confirmKey')"
  >*Divergent confirmation field!</span>
</form>
<div class="buttons">
  <button routerLink="/home" class="btn" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
   </svg>
    Back
  </button>

  <button form="generaQRCodeForm" class="btn btn-primary" type="submit">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
      <path d="M7 17l0 .01"></path>
      <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
      <path d="M7 7l0 .01"></path>
      <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
      <path d="M17 7l0 .01"></path>
      <path d="M14 14l3 0"></path>
      <path d="M20 14l0 .01"></path>
      <path d="M14 14l0 3"></path>
      <path d="M14 20l3 0"></path>
      <path d="M17 17l3 0"></path>
      <path d="M20 17l0 3"></path>
    </svg>
    Generate
  </button>
</div>
