<h1>Private QRCode</h1>
<form id="generaQRCodeForm" [formGroup]="form" (submit)="onSubmit()" novalidate autocomplete="off">
  <input formControlName="title" name="title" placeholder="insert a title (optional)" type="text" autocomplete="off" />
  <textarea formControlName="content" name="content" placeholder="content to encrypt"></textarea>
  <span *ngIf="getErrorFromField('content')" class="error-msg">*This field is required!</span>
  <input formControlName="key" name="key" placeholder="insert a key" type="password" #key [class.has-value]="!!key.value" class="field-key" autocomplete="off" />
  <span *ngIf="getErrorFromField('key')" class="error-msg">*This field is required!</span>
  <input formControlName="confirmKey" name="confirmKey" placeholder="Confirm the key" type="password" #confirmKey [class.has-value]="!!confirmKey.value" class="field-key" autocomplete="off" />
  <span *ngIf="getErrorFromField('confirmKey')" class="error-msg">*This field is required!</span>
  <span *ngIf="getErrorFromForm('confirmKey')" class="error-msg">*Divergent confirmation field!</span>
</form>
<div class="buttons">
  <button routerLink="/home" class="btn" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
   </svg>
    Back
  </button>

  <button form="generaQRCodeForm" class="btn btn-primary" type="submit">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
      <path d="M7 17l0 .01"></path>
      <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
      <path d="M7 7l0 .01"></path>
      <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
      <path d="M17 7l0 .01"></path>
      <path d="M14 14l3 0"></path>
      <path d="M20 14l0 .01"></path>
      <path d="M14 14l0 3"></path>
      <path d="M14 20l3 0"></path>
      <path d="M17 17l3 0"></path>
      <path d="M20 17l0 3"></path>
    </svg>
    Generate
  </button>
</div>
