video {
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 49;
  height: 100vh;
  width: 100%;
}

.close-button {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 50;
}