:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.space-between {
  flex: 1 1 0;
}

img {
  margin: 3rem auto;
  display: block;
  background-color: black;
  width: 100%;
  max-width: 450px;
}